@charset "UTF-8";

/*
    em HTML é ID = em CSS é #
    em html é CLASS = em CSS é .

*/

body {
    background-color: rgb(255, 227, 194);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(239, 160, 70);
}
h1#principal{
    text-align: center;
}
h2 {
    color: rgb(242, 152, 50);;
}
.basico{
    color: green;
}
.intermediario{
    color: rgb(138, 127, 2);
}
.avancado{
    color: rgb(128, 0, 0);
}
.destaque{
    background-color: aquamarine;
}